$lightGray: #eeeeee;
$blueFont: #2f5496;
$whitecolor: #ffffff;

html, body, #root, .full-height{
    height: 100%;
}

body{
    background-color: $lightGray;
    margin: 0;
}

.main-heading{
    font-size: 30px;
    font-weight: 600;
    padding: 2px 5px;
}

.mission-main-container{
    display: flex;
    flex-wrap: wrap;
    height: calc(100% - 40px);
    .mission-filters{
        background-color: $whitecolor;
        padding: 10px;
        border-radius: 4px;
        width: 100%;
        max-width: 200px;
        height: calc(100% - 20px);
        .heading{
            margin: 0;
            margin-bottom: 5px;
        }
        .filter-head{
            text-align: center;
            border-bottom: 1px solid #000;
            margin: 0 30px;
        }
        .year-list{
            margin: 0;
            padding: 0;
            list-style-type: none;
            text-align: center;
            li{
                margin: 5px 10px;
                display: inline-block;
                .filter-btn{
                    background-color: #add58a;
                    padding: 5px 15px;
                    border: none;
                    border-radius: 4px;
                    margin: 0 10px;
                    &:focus{
                        background-color: #62a73b;
                        outline: none;
                    }
                }
            }
        }
    }
    .mission-cards-list{
        margin: 0;
        padding: 0;
        list-style-type: none;
        text-align: center;
        width: calc(100% - 220px);
        height: 100%;
        overflow: auto;
        li{
            padding: 15px 5px;
            margin: 8px;
            background-color: $whitecolor;
            display: inline-block;
            width: 100%;
            max-width: 286px;
            border-radius: 4px;
            vertical-align: text-top;
            text-align: left;
            img{
                margin: 0 auto;
                display: block;
                background-color: $lightGray;
                height: 256px;
                width: 256px;
            }
            .mission-detail{
                padding: 15px;
                .id-list{
                    margin: 0;
                    list-style-type: circle;
                    padding: 0;
                    li{
                        padding: 5px;
                        padding-left: 30px;
                        margin: 0;
                        color: $blueFont;
                        display: inline-block;
                        width: auto;
                    }
                }
            }
        }
    }
}

.blue-color{
    color: $blueFont;
}

.mt-20px{
    margin-top: 20px !important;
}

@media(max-width: 560px){
    .mission-cards-list{
        width: 100% !important;
    }
    .mission-filters{
        max-width: 100% !important;
        height: auto !important;
    }
}

.no-data{
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 20px;
    font-weight: bold;
    color: red;
}

.clear-filter{
    margin: 30px auto;
    display: block;
    background-color: #62a73b;
    padding: 5px 15px;
    border: none;
    border-radius: 4px;
    &:focus{
        background-color: #add58a;
        outline: none;
    }
}